<Files .htaccess>
order deny,allow
deny from all
</Files>

<Files properties.json>
order deny,allow
deny from all
</Files>

RewriteEngine on
RewriteCond %{REQUEST_URI} !(.*)index.php(.*)
RewriteRule ^(.*)$ http://localhost/ponyexpress/resources/index.php/$1 [PT]
