{
    "UriBase" : "http://localhost/restos/server/",
    "NamespaceUriBase" : "specifications/",
    "Protocol" : "http"
    "RestUriBase" : "http://serverrest/resources/",
    "Resources": ["people", "areas"],
    "ResourceDrivers" : {
        "People" : {
            "Name" : "ldap_platform",
            "Properties" : {
                "ConfigFilePath" : "config.inc"
            }
        }
    }
}